i.fa-solid {
    color:red;
    padding:20px;
    align-items: right;
    
    
}
span.icons{
    color:blueviolet;
}
li.list-item{
    padding: 10px;
    border: 2px solid brown;
    border-radius: 6px 6px 6px 6px;

}